* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-weight: 400;
  font-size: 40px;
  /* font-family: "Black Han Sans", sans-serif; */
  text-rendering: optimizeLegibility;
}

body {
  text-align: center;
  border: 0.2rem sold #555;
  margin-top: 3rem;
}

.wrapper {
  width: 33rem;
  height: 20rem;
  margin-left: 2rem;
  border: 0.2rem solid #555;
  background-color: #fffaeb;
}

h1 {
  margin-top: 1rem;
  font-size: 1rem;
}

.container {
  width: 25rem;
  height: 15rem;
  margin: 1rem 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.1rem;
  grid-auto-rows: minmax(7.4rem, auto);
  border: 0.1rem solid gray;
  background-color: white;
}

.one {
  grid-column: 1 / 2;
  opacity: 50%;
  grid-row: 1;
}

.two {
  grid-column: 2 / 2;
  opacity: 50%;
  grid-row: 1;
}

.three {
  grid-column: 1 / 2;
  opacity: 50%;
  grid-row: 2;
}

.four {
  grid-column: 2 / 2;
  opacity: 50%;
  grid-row: 2;
}

.new_town {
  border: 0.1rem solid#1e90ff;
  border-radius: 10px;
  font-size: 0.5rem;
  color: black;
  padding: 0.1rem;
}

.button_and_show {
  display: inline-block;
  float: right;
}

.check_post_box {
  float: right;
  margin-right: 1.1rem;
  margin-top: 1rem;
  width: 4.5rem;
  height: 1.5rem;
  border: 0.2rem solid #ff6b6b;
  background-color: #ff6b6b;
  border-radius: 5px;
  font-size: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.check_post_box:hover {
  background-color: #fff3f3;
  border: 0.1rem solid #ff6b6b;
  font-weight: 600;
  color: #ff6b6b;
}

.data {
  height: 420px;
  width: 200px;
  margin-top: 4rem;
  margin-right: 0.6rem;
  font-weight: 400;
  font-size: 0.75rem;
  text-align: left;
}

.refresh {
  float: right;
  margin-right: 1.1rem;

  width: 4.5rem;
  height: 1.5rem;
  border: 0.2rem solid #1b9cfc;
  background-color: #1b9cfc;
  border-radius: 5px;
  font-size: 0.5rem;
  color: #fff;
  cursor: pointer;
}

.refresh:hover {
  background-color: #b2defe;
  border: 0.1rem solid #1b9cfc;
  font-weight: 600;
  color: #1b9cfc;
}
